<h1>Log in</h1>
	<%= form_tag sessions_path, :remote => true, :'data-update-target' => 'update-container' do %>
	<div class= "field">
		<%= label_tag :username %>
		<%= text_field_tag :username, params[:username] %>
	</div>

	<div class= "field">
		<%= label_tag :password %>
		<%= password_field_tag :password %>
	</div>

	<div class = "actions">
		<%= submit_tag "log in", :disable_with => 'Please wait...', :class => "submit" %>
	</div>

	<div id="update-container">
test
	</div>
	<% end %>