<script>

$(function(){
    $('.stickyNote')
        .draggable({
            stop: function(e, ui) {
                alert('dragging stopped');
                console.log("e", e);
                console.log("ui", ui);
                left = ui.absolutePosition.left;
                this.top = ui.absolutePosition.top;
                console.log("left", left);
                console.log("top", this.top);
                console.log("absolutePosition", ui.absolutePosition);
                console.log("absolutePosition top", ui.absolutePosition.top);
                console.log("absolutePosition left", ui.absolutePosition.left);
                something = ui.absolutePosition.top;
                console.log("something", something);
                $.ajax({
                    url: '/notes/' + $(this).attr('data-noteId'),
                    type: 'PUT',
                    data: { _method:'PUT', x: $(this).position().left, y: $(this).position().top,
                        width: $(this).width(), height: $(this).height(), body: $(this).find('.textarea').html() },
                    dataType: 'json',
                    success: function(data) {
                        alert('put sent');
                  }
                });
            }
        })
        .resizable({
            start: function(e, ui) {
                //alert('resizing started');
            },
            resize: function(e, ui) {
         
            },
            stop: function(e, ui) {
                alert('resizing stopped');
                $.ajax({
                    url: '/notes/' + $(this).attr('data-noteId'),
                    type: 'PUT',
                    data: { _method:'PUT', x: $(this).position().left, y: $(this).position().top,
                        width: $(this).width(), height: $(this).height(), body: $(this).find('.textarea').html() },
                    dataType: 'json',
                    success: function(data) {
                        alert('put sent');
                  }
                });
            }
        });

        // TODO: send updated note content
        var contents = $('.textarea').html();
        $('.textarea').blur(function() {
            if (contents!=$(this).html()){
                console.log("updated content", $(this).html());
                content = $(this).html();
                console.log('object', this);
                var id = $(this).parent().attr('data-noteId');

                $.ajax({
                    url: '/notes/' + id,
                    type: 'PUT',
                    data: { _method:'PUT', x: $(this).position().left, y: $(this).position().top,
                    	width: $(this).width(), height: $(this).height(), body: content },
                    dataType: 'json',
                    success: function(data) {
                        alert('put sent');
                  }
                });
            }
        });
});
</script>

<div class="stickyNote" data-noteId="<%= note.id %>" style="position:absolute; top:<%=note.y%>px; left:<%=note.x%>px; width:<%=note.width%>px; height:<%=note.height%>px">
    <span class="delete_note" style="float:right;"> <%= link_to 'X', note, method: :delete, :remote => true, data: { confirm: 'Are you sure?' } %> </span>
    <div class='textarea' contenteditable="true"><%= raw note.body%></div>
</div>