<script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css"
    href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css"/>
    <h1>Listing notes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>X</th>
    <th>Y</th>
    <th>Width</th>
    <th>Board</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notes.each do |note| %>
  <tr>
    <td><%= note.title %></td>
    <td><%= note.body %></td>
    <td><%= note.x %></td>
    <td><%= note.y %></td>
    <td><%= note.width %></td>
    <td><%= note.board %></td>
    <td><%= link_to 'Show', note %></td>
    <td><%= link_to 'Edit', edit_note_path(note) %></td>
    <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<script>

$(function(){
    $('.stickyNote')
        .draggable({
            stop: function(e, ui) {
                alert('dragging stopped');
                console.log("e", e);
                console.log("ui", ui);
                left = ui.absolutePosition.left;
                this.top = ui.absolutePosition.top;
                console.log("left", left);
                console.log("top", this.top);
                console.log("absolutePosition", ui.absolutePosition);
                console.log("absolutePosition top", ui.absolutePosition.top);
                console.log("absolutePosition left", ui.absolutePosition.left);
                something = ui.absolutePosition.top;
                console.log("something", something);
                // TODO: send updated location
            }
        })
        .resizable({
            start: function(e, ui) {
                //alert('resizing started');
            },
            resize: function(e, ui) {
         
            },
            stop: function(e, ui) {
                alert('resizing stopped');
                // TODO: send updated note dimensions
            }
        });

        // TODO: add clickhandler to notes, send updated body
});
</script>
            <div class="stickyNote">
                <div class='textarea' contenteditable="true">note 2</div>
        </div>
<%= link_to 'New Note', new_note_path %>
