<script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css"
    href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css"/>
<script>

$(function(){
    $('.stickyNote')
        .draggable({
            stop: function(e, ui) {
                alert('dragging stopped');
                console.log("e", e);
                console.log("ui", ui);
                left = ui.absolutePosition.left;
                this.top = ui.absolutePosition.top;
                console.log("left", left);
                console.log("top", this.top);
                console.log("absolutePosition", ui.absolutePosition);
                console.log("absolutePosition top", ui.absolutePosition.top);
                console.log("absolutePosition left", ui.absolutePosition.left);
                something = ui.absolutePosition.top;
                console.log("something", something);
                // TODO: send updated location
            }
        })
        .resizable({
            start: function(e, ui) {
                //alert('resizing started');
            },
            resize: function(e, ui) {
         
            },
            stop: function(e, ui) {
                alert('resizing stopped');
                // TODO: send updated note dimensions
            }
        });

        // TODO: send updated note content
        var contents = $('.textarea').html();
        $('.textarea').blur(function() {
            if (contents!=$(this).html()){
                console.log("updated content", $(this).html());
                content = $(this).html();
                console.log('object', this);
                var id = $(this).parent().attr('data-noteId');

                // $.ajax({
                //     url: '/notes/' + id,
                //     type: 'PUT',
                //     data: { _method:'PUT', x: $(this).position().left, y: $(this).position().top,
                //     width: $(this).width(), height: $(this).height() },
                //     dataType: 'json',
                //     success: function(data) {
                //         alert('put sent');
                //   }
                // });
            }
        });
});
</script>

<h1>Listing notes</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>X</th>
    <th>Y</th>
    <th>Width</th>
    <th>Board</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notes.each do |note| %>
  <tr>
    <td><%= note.title %></td>
    <td><%= note.body %></td>
    <td><%= note.x %></td>
    <td><%= note.y %></td>
    <td><%= note.width %></td>
    <td><%= note.board %></td>
    <td><%= link_to 'Show', note %></td>
    <td><%= link_to 'Edit', edit_note_path(note) %></td>
    <td><%= link_to 'Destroy', note, method: :delete, :class => "delete_note", :remote => true, data: { confirm: 'Are you sure?' } %></td>
  </tr>

<% end %>
</table>

<br />
<%= link_to 'New Note', notes_url, :method => :post, :remote => true %>

<div id = "notes" style="position:relative;">
    <% @notes.each do |note| %>
        <div class="stickyNote" data-noteId="<%= note.id %>" style="position:absolute; top:<%=note.y%>px; left:<%=note.x%>px;">
            <span class="delete_note" style="float:right;"> <%= link_to 'X', note, method: :delete, :remote => true, data: { confirm: 'Are you sure?' } %> </span>
            <div class='textarea' contenteditable="true"><%=note.body%></div>
        </div>
    <% end %>
</div>

