<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @note.title %>
</p>

<p>
  <b>Body:</b>
  <%= @note.body %>
</p>

<p>
  <b>X:</b>
  <%= @note.x %>
</p>

<p>
  <b>Y:</b>
  <%= @note.y %>
</p>

<p>
  <b>Width:</b>
  <%= @note.width %>
</p>

<p>
  <b>Board:</b>
  <%= @note.board %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
